@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,300;1,400;1,500&display=swap');

.App {
    font-family: 'DM Mono', monospace;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

h3 {
    font-size: 4.5rem;
    margin: 0;
    padding-top: 3ch;
}

#lustigerText {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pTag {
    width: 30%;
    height: auto;
}

#flexWrap {
    display: flex;
    flex-direction: column;
    grid-gap: 2ch;
}


#centerDiv {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
